* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

.container {
  display: flex;
}

.nav {
  display: flex;
  list-style-type: none;
}

.hero {
  /* display: flex; */
}

/* Footer content */

.footer {
  /* display: flex; */
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer1 {
  border: 1px solid rgb(184, 184, 184);
  width: 100vw;
  background-color: rgb(240, 240, 240);
}

.footer1 p {
  margin: 10px 20px;
  color: rgb(58, 58, 58);
}

.footer2 {
  display: flex;
  width: 100vw;
  /* border: 2px dotted goldenrod; */
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
}

.list-left {
  /* position: absolute; */
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.list-left > * {
  margin: 10px 20px;
  text-decoration: none;
  color: rgb(58, 58, 58);
}

.list-right {
  /* border: 1px solid rebeccapurple; */
  display: flex;
  align-items: center;
}

.list-right > * {
  margin: 10px 20px;
  text-decoration: none;
  color: rgb(58, 58, 58);
}

@media (max-width: 1100px) {
  .footer2 {
    justify-content: space-around;
  }
}
